.App {
  background-color: aqua;
  text-align: center;
}
h1 {
  color: white;
}
h3{
  display: flex;
  justify-content: center;
  
  color: blue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
